
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Roboto+Slab&family=Unica+One&display=swap');

* {
	box-sizing: border-box;
}
html, body {
	min-height: 100vh;
	margin: 0;
	background-color: #F7EDE2;
}
img {
	max-width: 100%;
}
a {
	text-decoration: none;
	color: #F7EDE2;
}
a:hover {
	color: #B6174B;
}
header {
	margin-top: 30px;
}
.logo {
	background-image: url(../imgs/impression-logo.svg);
	background-repeat: no-repeat;
	margin: auto;
	width: 400px;
	height: 150px;
}
.parent {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	margin: 0;
}
.quote {
	grid-column-start: 2;
	grid-column-end: 5;
	border-bottom: 8px;
	border-bottom-style: dotted;
	border-bottom-color: #A8763E;
}
.parent-canvas {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	margin: 0;
	margin-top: 75px;
}
.guide {
	grid-column-start: 1;
	grid-column-end: 2;
	background-image: url(../imgs/guide.svg);
	background-repeat: no-repeat;
}
.canvas {
	grid-column-start: 2;
	grid-column-end: 4;
	margin: auto;
}
.emotion1 {
	grid-column-start: 5;
	grid-column-end: 6;
	padding-top: 100px;
	border-right: 8px;
	border-right-style: dotted;
	border-right-color: black;
	padding-right: 20px;
	text-align: right;
	margin-bottom: 130px;
}
.emotion2 {
	grid-column-start: 6;
	grid-column-end: 7;
	padding-left: 30px;
	margin-top: 95px;
	text-align: left;
}
footer {
	display: grid;
	grid-template-columns: respeat(2. 1fr);
	grid-column-gap: 15px;
	padding: 20px;
	background-color: #A8763E;
}
.copyright {
	grid-column: 1;
	text-align: right;
	border-right-style: dotted;
	border-right-width: 4px;
	border-right-color:  #B6174B;;
	padding-right: 15px;
}
.libraries {
	grid-column: 2;
}
/*		TYPOGRAPHY		*/

h1 {
	font-family: 'Major Mono Display', monospace;
	font-size: 44px;
}

h2 {
	font-family: 'Roboto Slab', serif;
	font-size: 42px;
	color: #B6174B;
}
h3 {
	font-family: 'Major Mono Display', monospace;
	font-size: 18px;
}
h4 {
	font-family: 'Major Mono Display', monospace;
	font-size: 18px;
	color: #A8763E;
}
p {
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
	margin: 0;
	color: #F7EDE2;
}